.ItemDetailContainer{
    
    width: 100vw;
    height: 100%;
    margin-top: 55px;
    background-color: rgb(229, 197, 185);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}



.similares{
    border-top: solid 1px gray;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    background-color: white;
}

.similares h3{
    margin: 20px;
}

