
.cartButton{
    height: 100%;
    width: 100%;
    border: none;
    cursor: pointer;
}

.num{
    font-size: 0.6rem;
    position: relative;
    width: 16px;
    top: 6px;
    left: -29px;
    text-align: center; 
    color: white;
    z-index: 1;
    cursor: pointer;
}