.Item{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 1px grey;
    border-radius: 5px;
    margin: 6px;
    padding: 5px;
}

.Item img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}