.Item{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    margin: 6px;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
}

.Item img{
    width: 200px;
    border-radius: 10px;
}

h2{
    width:80%;
    text-align: left;
    font-size: 2rem;
}
