
.miniItem{
    height: 200px;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0 0 0 15px;
}

.miniItem img{
    margin: 0px 0;
    width: 100px;
}
