
.NavBar{
    position: fixed;
    top:0;
    background-image: url("../../../public/images/NavBarLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

.NavBar button{
    height: 35px;
    width: 35px;
    margin: 2px 5px;
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
    
}

.NavBar div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.NavBar div input{
    height: 20px;
}
