
.itemCount{
    display: flex;
    flex-direction: column;
    border: solid 1px grey;
    border-radius: 10px;
    width: 60%;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}

.counter{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.itemCount button{
    width: 90%;
    text-align: center;
    background-color: rgb(229, 197, 185);
    font-size: 0.8rem;
    border: none;
    border-radius: 3px;
}

.itemCount button:hover{
    color: white;
}

.counter p{
    height: 30px;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 10px;
}

.counter button{
    background-color: transparent;
    border: none;
    padding: 0;
}
.counter button:hover{
    color: gray;
}

.counter button p{
    font-size: 2rem;
    width: 100%;
    text-align: center;
    padding-top: 0;
}

